mixin ippon-color(color)
  - const id = `ippon-color-${color}`;
  - const colorVar = `--ippon-color-${color}`;
  section
    h3= color
    table.ippon-table
      thead.ippon-table--head
        tr.ippon-table--row
          th.ippon-table--header Name
          th.ippon-table--header Value
          th.ippon-table--header Preview
      tbody.ippon-table--body(id=id)
    script(type='module').
      import { ipponTokenColor } from '[[TIKUI_BASEPATH]]token/color/color.js';

      (() => {
        const colorsList = document.getElementById('#{id}');
        ipponTokenColor(colorsList, '#{colorVar}');
      })();
