mixin ippon-title-display(options)
  - const { tag = 'div', size, color } = options || {};
  - const displayTag = `Title display ${tag}`;
  - const displayName = size ? `${displayTag} (alternative ${size})` : displayTag;
  - const alternativeClass = size ? `-${size}` : null;
  - const colorClass = color ? `-color-${color}` : null;
  #{tag}.ippon-title-display(class=[alternativeClass, colorClass])= displayName
