mixin ippon-radius(radius)
  - const id = `ippon-radius-${radius}`;
  - const radiusVar = `--ippon-radius-${radius}`;
  section
    h3= radius
    table.ipp-doc-table
      tbody(id=id)
    script(type='module').
      import { ipponTokenRadius } from '[[TIKUI_BASEPATH]]token/radius/radius.js';

      (() => {
        const radiusList = document.getElementById('#{id}');
        ipponTokenRadius(radiusList, '#{radiusVar}');
      })();
